#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #eeeeee !important; /* Gris très clair */
  margin: 0; /* Supprimer les marges par défaut */
  font-family: Arial, sans-serif; /* Police par défaut */
}

header {
  background-color: white; /* Fond blanc pour le header */
  width: 100%;
}

.container {
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Loading spinner */
#loading_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajuste la hauteur si nécessaire */
}

.spinner {
  border: 8px solid #f3f3f3; /* Couleur de fond */
  border-top: 8px solid #3498db; /* Couleur du haut */
  border-radius: 50%;
  width: 50px; /* Taille du spinner */
  height: 50px; /* Taille du spinner */
  animation: spin 1s linear infinite; /* Animation */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Cards */
.card {
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre par défaut */
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: scale(1.05); /* Agrandir la carte au survol */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.userInfos {
  margin-top: 10px; /* Espacement pour les infos utilisateur */
}
